# .github/workflows/release.yml

name: Release

permissions:
  contents: write

on:
  repository_dispatch:
    types: [on-demand-release]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_REPO_RELEASE }}
          repository: kvoon9/weila-work-webview
          ref: ${{ github.event.client_payload.ref || 'main' }}
          fetch-depth: 0

      - name: Set Node.js
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: lts/*

      - name: Install @antfu/ni
        run: npm i -g @antfu/ni

      - name: Install dependencies
        run: nci

      # =========================
      # PROD BUILD & ARCHIVE
      # =========================
      - name: Build package (prod)
        run: nr build
        env:
          VITE_WL_APPID: ${{ secrets.PROD_VITE_WL_APPID }}
          VITE_WL_APPKEY: ${{ secrets.PROD_VITE_WL_APPKEY }}

      - name: Create archive (prod)
        run: nr archive

      # =========================
      # DEV BUILD & ARCHIVE
      # =========================
      - name: Build package (dev)
        run: nr build:staging
        env:
          VITE_WL_APPID: ${{ secrets.DEV_VITE_WL_APPID }}
          VITE_WL_APPKEY: ${{ secrets.DEV_VITE_WL_APPKEY }}

      - name: Create archive (dev)
        run: nr archive --append dev

      # =========================
      # INTL BUILD & ARCHIVE
      # =========================
      - name: Build package (intl)
        run: nr build:intl
        env:
          VITE_WL_APPID: ${{ secrets.INTL_VITE_WL_APPID }}
          VITE_WL_APPKEY: ${{ secrets.INTL_VITE_WL_APPKEY }}

      - name: Create archive (intl)
        run: nr archive --append intl

      # =========================
      # RELEASE
      # =========================
      - name: List files in pkg directory
        run: ls -la pkg/

      - name: Publish GitHub Release
        run: >
          npx changelogithub
          -t ${{ secrets.GH_REPO_RELEASE }}
          --release-github kvoon9/weila-work-webview-releases
          --assets "pkg/*.tar.gz"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_REPO_RELEASE }}
