# .github/workflows/release.yml

name: Release

permissions:
  contents: write

on:
  repository_dispatch:
    types: [on-demand-release]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_REPO_RELEASE }}
          repository: kvoon9/weila-work-webview
          ref: ${{ github.event.client_payload.ref || 'main' }}
          fetch-depth: 0

      - name: Set Node.js
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: lts/*
          
      - name: Check secrets existence
        run: |
          echo "PROD_APP_ID:      ${{ secrets.PROD_APP_ID      && 'SET' || 'EMPTY' }}"
          echo "PROD_APP_KEY:     ${{ secrets.PROD_APP_KEY     && 'SET' || 'EMPTY' }}"
      
          echo "STAGING_APP_ID:   ${{ secrets.STAGING_APP_ID   && 'SET' || 'EMPTY' }}"
          echo "STAGING_APP_KEY:  ${{ secrets.STAGING_APP_KEY  && 'SET' || 'EMPTY' }}"
      
          echo "INTL_APP_ID:      ${{ secrets.INTL_APP_ID      && 'SET' || 'EMPTY' }}"
          echo "INTL_APP_KEY:     ${{ secrets.INTL_APP_KEY     && 'SET' || 'EMPTY' }}"


      - name: Install @antfu/ni
        run: npm i -g @antfu/ni

      - name: Install dependencies
        run: nci

      # =========================
      # PROD BUILD & ARCHIVE
      # =========================
      - name: Build package (prod)
        run: nr build
        env:
          VITE_APP_ID: ${{ secrets.PROD_APP_ID }}
          VITE_APP_KEY: ${{ secrets.PROD_APP_KEY }}

      - name: Create archive (prod)
        run: nr archive

      # =========================
      # DEV BUILD & ARCHIVE
      # =========================
      - name: Build package (dev)
        run: nr build:staging
        env:
          VITE_APP_ID: ${{ secrets.STAGING_APP_ID }}
          VITE_APP_KEY: ${{ secrets.STAGING_APP_KEY }}

      - name: Create archive (dev)
        run: nr archive --append dev

      # =========================
      # INTL BUILD & ARCHIVE
      # =========================
      - name: Build package (intl)
        run: nr build:intl
        env:
          VITE_APP_ID: ${{ secrets.INTL_APP_ID }}
          VITE_APP_KEY: ${{ secrets.INTL_APP_KEY }}

      - name: Create archive (intl)
        run: nr archive --append intl

      # =========================
      # RELEASE
      # =========================
      - name: List files in pkg directory
        run: ls -la pkg/

      - name: Publish GitHub Release
        run: >
          npx changelogithub
          -t ${{ secrets.GH_REPO_RELEASE }}
          --release-github kvoon9/weila-work-webview-releases
          --assets "pkg/*.tar.gz"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_REPO_RELEASE }}
